<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Shiny Print VE</title>
  </head>
<body class="font-sans text-gray-800">

<nav id="navbar" class="fixed top-0 left-0 right-0 bg-pink-950 h-16 z-20" >

</nav>






<!-- 📞 Contacto -->
  <footer class="bg-pink-950 text-white py-6 mt-10">
    <div class="flex justify-center gap-4 p-3">
      <a href="https://api.whatsapp.com/send?phone=584123799346" target="_blank">
        <img src="img/whatsapp.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
      <a href="mailto:shinyamulet14@gmail.com" target="_blank">
        <img src="img/email.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
      <a href="https://www.facebook.com/shinyprint.ve" target="_blank">
        <img src="img/facebook.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
      <a href="https://www.instagram.com/shinyprint.ve/?__pwa=1" target="_blank">
      <img src="img/instagram.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
    </div>
    <div class="mt-5 flex justify-center gap-4 p-3">
      <a href="https://github.com/rafaeltriasdev" target="_blank">
        <p>Desarrollado por Rafael Trias Dev</p>
      </a>
    </div>
    <div class="text-center">
        <p>&copy; 2025 ShinyPrintVe.com | Todos los derechos reservados</p>
        <p class="mt-2">Contacto: shinyprintve@gmail.com</p>
    </div>
  </footer>

</main>

<script src="/components/nav.js"></script>
<script src="index.js"></script>
</body>
</html>