<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Shiny Print VE</title>
  </head>
<body class="font-sans text-gray-800">

<nav id="navbar" class="fixed top-0 left-0 right-0 bg-pink-950 h-16 z-20" >

</nav>

<!-- 🌄 Banner con título -->

<div class="relative flex text-center top-16 text-black justify-center">
  <img src="/img/banner2.png" alt="Banner principal" class="w-full object-cover">

  <section class="absolute inset-0 flex flex-col items-center justify-center bg-opacity text-xl z-10">
    <div class="container mx-auto px-4">
        <h1 class="text-3xl text-center text-black rounded-lg font-bold mb-6">Bienvenido a Shiny Print Ve</h1>
        <p class="text-center text-black-700 mb-6">Tu tienda de confianza para productos personalizados de alta calidad.</>
      <div class="flex justify-center">
        <a href="/tienda" class="bg-pink-800 hover:bg-pink-900 text-white py-2 px-4 rounded transition duration-300">Explorar Productos</a>
      </div>
    </div>
  </section>
</div>

<!-- Productos -->
<h3 id="product-title" class="text-3xl text-center font-semibold mt-20 mb-6">Nuestros Productos</h3>
    <p class="text-center text-gray-700 mb-6">Descubre nuestra amplia gama de productos personalizados.</p>

      <ul id="products-list" class="grid grid-cols-1 md:grid-cols-3 gap-8 px-2 md:px-20">
        <li class="product-item bg-pink-100 shadow-md rounded-lg p-4 flex flex-col items-center hover:scale-105 hover:shadow-lg transition duration-300" >
          <div class="product-img">
            <img src="/img/T-Shirt1.png" alt="Producto 1" class="w-40 h-40 object-contain rounded mx-auto mb-2 md:w-full md:h-48"> 
          </div>
          <div class="product-info mt-2 text-lg md:text-xl font-bold text-center">
            <p class="mt-2 text-lg md:text-xl font-bold text-center">Franela Oversize</p>
            <p class="text-gray-600 text-center text-sm md:text-base">Fabricada en tela jersey de la mejor calidad importada. <br> Diseño completamente personalizado.</p>
            <p class="product-price">Precio: $20</p>
            <br>
            <button class="product-btn mt-2 bg-pink-800 hover:bg-pink-900 text-white py-2 px-4 rounded">AÑADIR AL CARRITO</button>
          </div>
        </li>
        <li class="product-item bg-pink-100 shadow-md rounded-lg p-4 flex flex-col items-center hover:scale-105 hover:shadow-lg transition duration-300" >
          <div class="product-img">
            <img src="/img/taza1.png" alt="Producto 1" class="w-40 h-40 object-contain rounded mx-auto mb-2 md:w-full md:h-48"> 
          </div>
          <div class="product-info mt-2 text-lg md:text-xl font-bold text-center">
            <p class="mt-2 text-lg md:text-xl font-bold text-center">Taza de One Piece</p>
            <p class="text-gray-600 text-center text-sm md:text-base">Fabricada en cerámica y sublimada.</p>
            <p class="product-price">Precio: $5</p>
            <br>
            <button class="product-btn mt-2 bg-pink-800 hover:bg-pink-900 text-white py-2 px-4 rounded">AÑADIR AL CARRITO</button>

        </li>
        <li class="product-item bg-pink-100 shadow-md rounded-lg p-4 flex flex-col items-center hover:scale-105 hover:shadow-lg transition duration-300" >
          <div class="product-img">
            <img src="/img/cooler1.png" alt="Producto 1" class="w-40 h-40 object-contain rounded mx-auto mb-2 md:w-full md:h-48"> 
          </div>
          <div class="product-info mt-2 text-lg md:text-xl font-bold text-center">
            <p class="mt-2 text-lg md:text-xl font-bold text-center">Cooler de Snoopy</p>
            <p class="text-gray-600 text-center text-sm md:text-base">Material completamente de aluminio con tapa de plástico. <br> Mantiene el frío y/o calor.</p>
            <p class="product-price">Precio: $15</p>
            <br>
            <button class="product-btn mt-2 bg-pink-800 hover:bg-pink-900 text-white py-2 px-4 rounded">AÑADIR AL CARRITO</button>
          </div>
        </li>
      </ul>
  </div>

</section>





<!-- 📞 Contacto -->
  <footer class="bg-pink-950 text-white py-6 mt-10">
    <div class="flex justify-center gap-4 p-3">
      <a href="https://api.whatsapp.com/send?phone=584123799346" target="_blank">
        <img src="/img/whatsapp.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
      <a href="mailto:shinyamulet14@gmail.com" target="_blank">
        <img src="/img/email.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
      <a href="https://www.facebook.com/shinyprint.ve" target="_blank">
        <img src="/img/facebook.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
      <a href="https://www.instagram.com/shinyprint.ve/?__pwa=1" target="_blank">
      <img src="/img/instagram.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
    </div>
    <div class="mt-5 flex justify-center gap-4 p-3">
      <a href="https://github.com/rafaeltriasdev" target="_blank">
        <p>Desarrollado por Rafael Trias Dev</p>
      </a>
    </div>
    <div class="text-center">
        <p>&copy; 2025 ShinyPrintVe.com | Todos los derechos reservados</p>
        <p class="mt-2">Contacto: shinyprintve@gmail.com</p>
    </div>
  </footer>

</main>

<script src="/components/nav.js"></script>
<script src="index.js"></script>
</body>
</html>