<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Tienda</title>
  </head>
<body class="font-sans text-gray-800">

<nav id="navbar" class="fixed top-0 left-0 right-0 bg-pink-950 h-16 z-20" >

</nav>

<!-- 🌄 Banner con título -->

<div class="relative flex text-center top-16 text-black justify-center">
  <img src="/img/banner2.png" alt="Banner principal" class="w-full object-cover">

  <section class="absolute inset-0 flex flex-col items-center justify-center bg-opacity text-xl z-10">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl text-center text-pink-900 rounded-lg font-extrabold mb-4 drop-shadow-lg">¡Exprésate con Shiny Print!</h1>
      <p class="text-center text-pink-800 text-lg mb-6 font-semibold">Personaliza franelas, tazas y mucho más con tu propio estilo. Calidad, creatividad y entrega rápida en cada pedido.</p>
      <div class="flex justify-center">
        <a href="#products-list" class="bg-gradient-to-r from-pink-700 to-pink-500 hover:from-pink-800 hover:to-pink-600 text-white py-2 px-6 rounded-xl font-bold shadow-lg transition-all duration-200">Ver Productos</a>
      </div>
    </div>
  </section>
</div>

<!-- Productos -->
<h3 id="product-title" class="text-3xl text-center font-semibold mt-20 mb-6">Nuestros Productos</h3>
    <p class="text-center text-gray-700 mb-6">Descubre nuestra amplia gama de productos personalizados.</p>

      <ul id="products-list" class="grid grid-cols-1 md:grid-cols-3 gap-8 px-2 md:px-20">
        <!-- Los productos se cargarán dinámicamente aquí -->
      </ul>
  </div>

</section>




<!-- 📞 Contacto -->
  <footer class="bg-pink-950 text-white py-6 mt-10">
    <div class="flex justify-center gap-4 p-3">
      <a href="https://api.whatsapp.com/send?phone=584123799346" target="_blank">
        <img src="/img/whatsapp.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
      <a href="mailto:shinyamulet14@gmail.com" target="_blank">
        <img src="/img/email.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
      <a href="https://www.facebook.com/shinyprint.ve" target="_blank">
        <img src="/img/facebook.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
      <a href="https://www.instagram.com/shinyprint.ve/?__pwa=1" target="_blank">
      <img src="/img/instagram.ico" alt="Descripción del icono" class="w-10 h-10">
      </a>
    </div>
    <div class="mt-5 flex justify-center gap-4 p-3">
      <a href="https://github.com/rafaeltriasdev" target="_blank">
        <p>Desarrollado por Rafael Trias Dev</p>
      </a>
    </div>
    <div class="text-center">
        <p>&copy; 2025 ShinyPrintVe.com | Todos los derechos reservados</p>
        <p class="mt-2">Contacto: shinyprintve@gmail.com</p>
    </div>
  </footer>

  <!-- Botón Scroll to Top -->
  <button id="scrollTopBtn" title="Ir arriba" class="hidden fixed bottom-8 right-8 z-50 bg-pink-800 hover:bg-pink-900 text-white rounded-full p-3 shadow-lg transition duration-300 focus:outline-none">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
    </svg>
  </button>

</main>

<script src="/components/nav.js"></script>
<script src="index.js"></script>
</body>
</html>