<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <title>Registro</title>
</head>
<body class="bg-zinc-50">
  <nav id="navbar" class="fixed top-0 left-0 right-0 bg-pink-950 h-16"> 
  </nav>
<div class="fixed top-16 left-0 right-0 bottom-0 -z-10 bg-[url('/img/bannerLoginRegistro.jpg')] bg-cover bg-center bg-no-repeat">
</div>

  <div id="notification" class="fixed top-20 left-0 right-0">
    
  </div>

  <div class="flex-col pt-16 h-screen flex max-w-7xl mx-auto justify-center items-center px-4">
    <div class="hidden lg:flex w-2/4 justify-center items-center">
    </div>
    <form id="form" class="flex flex-col tex gap-4 bg-zinc-200/50 p-4 rounded-lg text-md shadow-md lg:w-2/4">
      <div class="flex flex-col gap-2">
        <label for="name-input" class="font-bold text-zinc-900">
          Nombre y Apellido <span class="text-red-500">*</span>
        </label>
        <input
          type="text"
          id="name-input"
          name="name-input"
          autocomplete="off"
          placeholder="Introduce tu nombre y apellido"
          class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700"
        >
        <p class="text-xs text-zinc-800">Tanto el nombre como el apellido deben comenzar con mayusculas.</p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="name-input" class="font-bold text-zinc-900">
          Correo <span class="text-red-500">*</span>
        </label>
        <input
          type="email"
          id="email-input"
          name="email-input"
          autocomplete="off"
          placeholder="ejemplo@correo.com"
          class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700"
        >
        <p class="text-xs text-zinc-800">El correo es requerido.</p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="name-input" class="font-bold text-zinc-900">
          Contraseña <span class="text-red-500">*</span>
        </label>
        <input
          type="password"
          id="password-input"
          name="password-input"
          autocomplete="off"
          class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700"
        >
        <p class="text-xs text-zinc-800">
          Debe tener al menos una letra. <br>
          Debe tener al menos un número. <br>
          Debe tener al menos 8 characteres.
        </p>
      </div>

      <div class="flex flex-col gap-2">
        <label for="name-input" class="font-bold text-zinc-900">
          Confirmar contraseña <span class="text-red-500">*</span>
        </label>
        <input
          type="password"
          id="match-input"
          name="match-input"
          autocomplete="off"
          class="rounded-lg p-2 bg-zinc-100 focus:outline-indigo-700"
        >
        <p class="text-xs text-zinc-800">
          Debe coincidir con la contraseña.
        </p>
      </div>

      <button
        id="form-btn"
        class="bg-pink-900 py-2 px-4 rounded-lg font-bold text-white hover:bg-pink-800 text-center transition ease-in-out disabled:opacity-50 disabled:cursor-not-allowed"
        disabled
      >
        Registrar
      </button>
    </form>
  </div>

  <script src="/components/nav.js"></script>
  <script type="module" src="index.js"></script>
  <script type="module" src="../components/notification.js"></script>
</body>
</html>