<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Shiny Print VE</title>
  </head>
<body>
   
  <nav id="navbar" class="fixed top-0 left-0 right-0 bg-pink-950 h-16">

<section class="absolute top-20 r-10 w-100% h-25 bg-slate-300">
  <table>
    <thead>
      <tr>
        <th class="table-title">Imagen</th>
        <th class="table-title">Nombre</th>
        <th class="table-title">Precio</th>
        <th class="table-title">Cantidad</th>
      </tr>
    </thead>
    <tbody id="table-body"></tbody>
    <tr>
      <td>Imagen</td>
      <td>Programcion</td>
      <td>15$</td>
      <td>4</td>
    </tr>
  </table>
  <button id="table-remove">Vaciar Carrito</button>
</section>  

  </nav>

  

  <script src="/components/nav.js"></script>
</body>
</html>